<style>
  #image {
    padding-top: 2%;
    padding-bottom: 2%;
  }

  #comments {
    padding-top: 1%;
    padding-right: 1%;
    padding-bottom: 1%;
    padding-left: 1%;
  }
</style>
<div id="submission">
  {{{ submission }}}
</div>
{{!-- <div id="image">
  <img src="{{ image }}" />
</div> --}}
<div id="comments">
  {{{ comments }}}
</div>