<div>
    <img src="{{ link }}"/ class="img-fluid">
</div>
<div class="form-group"></div>
<form method="get" action="{{ link }}">
<button type="button" class="btn btn-primary btn-block my-4" onclick="window.open('{{ link }}')">
    download
</button>
<button type="button" class="btn btn-primary btn-block my-4" onclick="copy('{{ link }}')" data-toggle="modal" data-target="#copiedLink">
    copy imgur link
</button>
</form>

<div class="modal fade" id="copiedLink" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <h5>✅ link copied to clipboard</h5>
            </div>
            <button type="button" class="btn btn-primary m-3" data-dismiss="modal">nice</button>
        </div>
    </div>
</div>
