<!DOCTYPE html>
<head>
  <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
    crossorigin="anonymous"
  />
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  <link rel="icon" type="image/png" href="/favicon.ico"/>
</head>
<style>
  nav {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
</style>
<script>
  generate = () => {
    let link = document.getElementById("input").value;
    link = new URL(link).pathname;
    console.log(link)
    window.location.replace(link);
    return false;
  };

  copy = (link) => {
    navigator.clipboard.writeText(link).then(function() {
    /* clipboard successfully set */
    }, function() {
    /* clipboard write failed */
    });
    return false;
  }
</script>
<html>
  <nav class="navbar navbar-light bg-light">
    <div class="container">
      <span class="navbar-brand mb-0 h1" onclick="location.href=window.location.origin">📷 shareddit</span>
    </div>
  </nav>
    <div class="container">
        {{{ info }}}
        <div class="form-group">
            <form onsubmit="return generate()">
                <input
                type="url"
                class="form-control my-4"
                placeholder="reddit post/comment permalink"
                id="input"
                pattern=".*\.reddit\..*"
                title="only reddit links work"
                required
                />
                <button
                type="submit"
                class="btn btn-primary btn-block my-4"
                >
                generate
                </button>
            </form>
            {{{ body }}}
        </div>
        {{!-- <div class="card-footer">about</div> --}}
    </div>
</html>
