<a
  class='awarding-link'
  href='/r/todayilearned/gilded'
  data-award-id='{{awardId}}'
><span class='awarding-icon-container'><img
      class='awarding-icon'
      height='48px'
      width='48px'
      src='{{imageSrc}}'
    /></span>{{awardCount}}</a>